//$body-bg: linear-gradient(to right, rgba(0,124,240,1) 0%,rgba(4,127,243,1) 100%);
$body-bg: #f6f6f6;

$border-radius: 5px;


//Colors
$light-grey: #bdc3c7;
$red: #e94b35;
$yellow: #f2c500;
$green: #00bd9c;
$blue: #0089ff;


$golden-ratio:1.61803398875;
